# ==========================================
# ShopGenie Frontend Environment Example
# ==========================================

# Backend API Base URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Frontend Base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Support Hotline & WhatsApp
NEXT_PUBLIC_HOTLINE=01956016119
NEXT_PUBLIC_HOTLINE_SECONDARY=01301010553
NEXT_PUBLIC_WHATSAPP=8801956016119
NEXT_PUBLIC_EMAIL_PRIMARY=mdmahfuzulhaque3140@gmail.com
NEXT_PUBLIC_EMAIL_SECONDARY=niloy@gmail.com

# Store Branding
NEXT_PUBLIC_STORE_NAME=Old Rank
NEXT_PUBLIC_DEFAULT_CURRENCY=BDT
